:root{
    font-size: 20px;
}



/* Selectores */
/* Selector de elemento */
h1{
    color: green;
    background-color: beige;
    padding: 20px;
    text-align: center;
    font-size: 3rem;
}
/* Selector de atributo
h1[role="titulo"]{
    font-size: 60px;
}

/* Selector de clase */
/* .titulo{
    color: red;
    font-size: 30px;
    background-color: aqua;
} */
/* Selector de ID */
/* #titulo_huawei{
    color: yellow;
}

#div_temas{
    display: none !important;
}

.big_table{
    font-size: 30px;
    border: 1px solid #ccc;
}


.big_table > th, td{
    padding: 20px;
}  */

.product_cell{
    border:2px solid red;
    border-radius:  10px;
    padding: 10px; 
    margin: 10px;
}

.product_cell:hover{
    border: 3px dashed blue;
    box-shadow: 0px 0px 10px blue ;
}

.product_cell:hover > img{
    opacity: 50%;
    border: 4px solid #000;
}

.laptop > h2{
    color: blue;
}

.laptop > h2::before{
    content: "â¤";
}

.laptop > h3{
    color: cadetblue;
    text-align: right;
    padding-right: 10px;
}

.iphone > h2{
    color: red;
}
.iphone > h3{
    color: rebeccapurple;
    text-align: right;
    padding-right: 10px;
}

.airpods > h2{
    color: green;
}

.airpods > h3{
    color: aqua;
    text-align: right;
    padding-right: 10px;
}

.ipad > h2{
    color: orange;
}

.ipad > h3{
    color: orangered;
    text-align: right;
    padding-right: 10px;
}

.div_form{
    width: 400px;
    margin: 20px auto;
}

.div_form > form > input{
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 70%;
    font-size: 20px;
    padding-left: 20px;
    /* Este es el borde que pone el navegador */
    outline: none;
}

.div_form > form > input:focus{
    border: 2px solid blue;
}

.div_form > form > button {
    height:  40px;
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 28%;
}

.div_form > form > button:hover {
    background-color: #666;
    border: none;
    color: white;
    cursor: pointer;
}

.div_form > form > button:focus {
    border: 2px solid red;
}

/* Pseuo-elementos */
.price::before{
    content: "$ ";
    font-size: 12px;
}

.price::after{
    content: ".00";
    font-size: 12px;
}